http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/osoby/social?typ=Twitter&typ=Instagram
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"titulPred":null,"jmeno":"Vladimír","prijmeni":"Vlach","titulPo":null,"nameId":"vladimir-vlach-13","profile":"/osoba/vladimir-vlach-13","socialniSite":[{"type":"Twitter","id":"vlach_v?lang=cs","url":"https://twitter.com/vlach_v?lang=cs"}]},{"titulPred":"Ing.
        ","jmeno":"Patrik","prijmeni":"Nacher","titulPo":null,"nameId":"patrik-nacher","profile":"/osoba/patrik-nacher","socialniSite":[{"type":"Twitter","id":"PatrikNacher","url":"https://twitter.com/PatrikNacher"},{"type":"Instagram","id":"nacherpatrik","url":"https://www.instagram.com/nacherpatrik"}]},{"titulPred":"Ing.","jmeno":"Marta","prijmeni":"Nováková","titulPo":null,"nameId":"marta-novakova-29","profile":"/osoba/marta-novakova[...]
