http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/Weby/10107
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"Availability":{"Host":{"hostid":"10107","host":"HTTPS nen.nipez.cz","url":"https://nen.nipez.cz","opendataUrl":"https://www.hlidacstatu.cz/api/v2/Weby/10107","pageUrl":"https://www.hlidacstatu.cz/StatniWeby/Info/10107?h=6306B57A524363D494F83CED45FFF372","urad":"Ministerstvo
        pro místní rozvoj","publicname":"Národní Elektronický Nástroj","popis":"Elektronický
        nástroj pro administraci a zadávání veřejných zakázek a koncesí pro všechny
        kategorie veřejných zakázek a všechny kategorie zadavatelů, vč. sektorových.
        NEN podporuje všechny rozsahy elektronizace od evidence zadávacích řízení
        po plně elektronické postupy.","hash":"6306B57A524363D494F83CED45FFF372"},"Data":[{"Time":"2021-02-13T17:46:35+01:00","Response":0.0402,"HttpStatusCode":200},{"Time":"2021-02-13T17:47:35+01:00","Response":0.0468,"HttpStatusCode":200},{"Time":"2021-02-13T17:48:35+01:00","Response":0.0480,"HttpStatusCode":200},{"Time":"2021-02-13T17:49:35+01:00","Response":0.0622,"HttpStatusCode":200},{"Time":"2021-02-13T17:50:35+01:00","Response":0.0390,"HttpStatusCode":200},{"Time":"2021-02-13T17:51:35+01:00","Response":0.0502,"HttpStatusCode":200},{"Time":"2021-02-13T17:52:35+01:00","Response":0.0484,"HttpStatusCode":200},{"Time":"2021-02-13T17:53:35+01:00","Re[...]
