http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/smlouvy/3583464
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"identifikator":{"idSmlouvy":"3322596","idVerze":"3583464"},"CalculatedPriceWithVATinCZK":296450.0,"CalcutatedPriceQuality":1,"casZverejneni":"2017-10-30T08:35:51+01:00","cisloSmlouvy":"
        /MMH/93458/2017","ConfidenceValue":0.0,"datumUzavreni":"2017-10-25T00:00:00","Enhancements":[{"Created":"2017-10-30T09:12:42.7476133+01:00","Title":"Text
        přílohy extrahován přímo z dokumentu","Description":"","Changed":{"ParameterName":"item.Prilohy[0].PlainTextContent","PreviousValue":"","NewValue":""},"Public":true,"EnhancerType":"HlidacSmluv.Plugin.Enhancers.TextMiner"}],"hodnotaBezDph":245000.0,"hodnotaVcetneDph":296450.0,"Id":"3583464","Issues":[],"LastUpdate":"2020-04-01T23:29:25.3498917+02:00","odkaz":"https://smlouvy.gov.cz/smlouva/3583464","Platce":{"adresa":"Svornosti
        86/2, 73601 Havířov, CZ","datovaSchranka":"7zhb6tn","ico":"00297488","nazev":"Statutární
        město Havířov"},"platnyZaznam":true,"PravniRamec":2,"predmet":"836/OSRM/2017
        smlouva o dílo - adventure golf","Prijemce":[{"adresa":"Hřbitovní 651/8\n
        735 42  Těrlicko","datovaSchranka":"9gg5ymn","ico":"27858782","nazev":"ŠNAPKA
        SLUŽBY s.r.o."}],"Prilohy":[{"nazevSouboru":"Smlouva PD-adventure golf.pdf","hash":{"algoritmus":"sha256","Value":"8791e62a1af70d7e80b8c205e6c7ddfee3461086a39ba5956f9671df07c663b7"},"odkaz":"https://smlouvy.gov.cz/smlouva/soubor/4983496/Smlouva%20PD-adventure%20golf.pdf","PlainTextContentQuality":3,"LastUpdate":"2017-10-30T09:11:30.9528211+01:00","ContentType":"application/pdf","Lenght":45885,"WordCount":5478,"UniqueWordsCount":1619,"WordsVariance":0.004182263108919729650621181,"Pages":0,"EnoughExtractedText":true}],"schvalil":"","spadaPodRS":true,"Hint":{"SmlouvaULimitu":0,"DenUzavreni":0,"SmlouvaSPolitickyAngazovanymSubjektem":0,"PocetDniOdZalozeniFirmy":3325,"VztahSeSoukromymSubjektem":1},"VkladatelDoRejstriku":{"adresa":"Svornosti
        86/2, 73601 Havířov, CZ","datovaSchranka":"7zhb6tn","ico":"00297488","nazev":"Statutární
        město Havířov"}}'
  recorded_at: 2021-02-20 17:52:41 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
