http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/Api/v2/datasety/ministri/zaznamy/1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":1.0,"vlada":"Klaus I.","pozice":"Předseda vlády České republiky","resort":"Předseda
        vlády","jmeno":"Václav Klaus","strana":"ODS","zacatek":"1992-07-02T00:00:00+02:00","konec":"1996-07-04T00:00:00+02:00","DbCreated":"2020-01-03T16:46:08.6428896Z","DbCreatedBy":null}'
  recorded_at: 2021-08-23 12:30:10 GMT
  recorded_with: vcr/1.0.0, webmockr/0.8.0
