http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/dotace/deminimis-1000229862
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"idDotace":"deminimis-1000229862","datumPodpisu":"2014-08-20T00:00:00Z","datumAktualizace":"2016-05-05T00:00:00Z","kodProjektu":null,"nazevProjektu":"Mezinárodní
        golfový turnaj v extrémním golfu","zdroj":{"nazev":"deminimis","url":"https://www.hlidacstatu.cz/data/Detail/de-minimis/1000229862"},"prijemce":{"ico":"26012219","obchodniJmeno":"ERIBOS
        s. r. o.","hlidacJmeno":"ERIBOS s. r. o.","jmeno":null,"rokNarozeni":null,"obec":null,"okres":null,"psc":null},"program":null,"dotaceCelkem":5000.0,"pujckaCelkem":0.0,"rozhodnuti":[{"castkaPozadovana":null,"castkaRozhodnuta":5000.0,"cerpanoCelkem":5000.0,"jePujcka":false,"icoPoskytovatele":null,"poskytovatel":"Statutární
        město Pardubice","rok":2014,"zdrojFinanci":null,"cerpani":[{"castkaSpotrebovana":5000.0,"rok":2014,"guessedYear":2014}]}],"duplicita":null,"chyba":[]}'
  recorded_at: 2021-08-23 12:30:10 GMT
  recorded_with: vcr/1.0.0, webmockr/0.8.0
