http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/firmy/Agrofert
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"ico":"26185610","jmeno":"AGROFERT, a.s.","datoveSchranky":["xftccth"],"zalozena":null}'
  recorded_at: 2021-08-23 12:31:56 GMT
  recorded_with: vcr/1.0.0, webmockr/0.8.0
