http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/Weby/10107
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"availability":{"host":{"hostid":"10107","host":"HTTPS nen.nipez.cz","url":"https://nen.nipez.cz","opendataUrl":"https://www.hlidacstatu.cz/api/v2/Weby/10107","pageUrl":"https://www.hlidacstatu.cz/StatniWeby/Info/10107?h=6306B57A524363D494F83CED45FFF372","urad":"Ministerstvo
        pro místní rozvoj","publicname":"Národní Elektronický Nástroj","popis":"Elektronický
        nástroj pro administraci a zadávání veřejných zakázek a koncesí pro všechny
        kategorie veřejných zakázek a všechny kategorie zadavatelů, vč. sektorových.
        NEN podporuje všechny rozsahy elektronizace od evidence zadávacích řízení
        po plně elektronické postupy.","hash":"6306B57A524363D494F83CED45FFF372"},"data":[{"time":"2021-08-16T13:23:33+02:00","response":0.0433,"httpStatusCode":200},{"time":"2021-08-16T13:24:34+02:00","response":0.0420,"httpStatusCode":200},{"time":"2021-08-16T13:25:37+02:00","response":0.0436,"httpStatusCode":200},{"time":"2021-08-16T13:26:37+02:00","response":0.0405,"httpStatusCode":200},{"time":"2021-08-16T13:27:37+02:00","response":0.0442,"httpStatusCode":200},{"time":"2021-08-16T13:28:37+02:00","response":0.0427,"httpStatusCode":200},{"time":"2021-08-16T13:29:37+02:00","response":0.0509,"httpStatusCode":200},{"time":"2021-08-16T13:30:37+02:00","re[...]
