http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/osoby/social?typ=Twitter&typ=Instagram
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"TitulPred":"Ing. ","Jmeno":"Patrik","Prijmeni":"Nacher","TitulPo":"","NameId":"patrik-nacher","Profile":"/osoba/patrik-nacher","SocialniSite":[{"Type":"Twitter","Id":"PatrikNacher","Url":"https://twitter.com/PatrikNacher"},{"Type":"Instagram","Id":"nacherpatrik","Url":"https://www.instagram.com/nacherpatrik"}]},{"TitulPred":"Ing.","Jmeno":"Marta","Prijmeni":"Nováková","NameId":"marta-novakova-29","Profile":"/osoba/marta-novakova-29","SocialniSite":[{"Type":"Twitter","Id":"Marta_Novakova_","Url":"https://twitter.com/Marta_Novakova_"}]},{"TitulPred":"prof.
        RNDr.","Jmeno":"Václav","Prijmeni":"Hampl","TitulPo":"DrSc.","NameId":"vaclav-hampl","Profile":"/osoba/vaclav-hampl","[...]
