http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/Api/v2/datasety/ministri/hledat?strana=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"total":353,"page":1,"results":[{"id":53.0,"vlada":"Klaus II.","pozice":"Ministr
        obrany","resort":"Ministerstvo obrany","jmeno":"Miloslav Výborný","strana":"KDU-ČSL","zacatek":"1996-07-04T00:00:00+02:00","konec":"1998-01-02T00:00:00+01:00","DbCreated":"2020-01-03T16:46:08.6585149Z","DbCreatedBy":null},{"id":342.0,"vlada":"Babiš
        II.","pozice":"Ministr životního prostředí","resort":"Ministerstvo životního
        prostředí","jmeno":"Richard Brabec","strana":"ANO 2011","zacatek":"2018-06-27T00:00:00+02:00","konec":null,"DbCreated":"2020-01-03T16:46:08.6741477Z","DbCreatedBy":null},{"id":76.0,"vlada":"Zeman","pozice":"Místopředseda
        vlády (od 10. prosince 1999)\nMinistr zahraničních věcí","resort":"Ministerstvo
        zahraničních věcí","jmeno":"Jan Kavan","strana":"ČSSD","z[...]
- request:
    method: get
    uri: https://www.hlidacstatu.cz/Api/v2/datasety/ministri/hledat?dotaz=Zeman&strana=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"total":27,"page":1,"results":[{"id"[...]
