http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/Weby
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"hostid":"10107","host":"HTTPS nen.nipez.cz","url":"https://nen.nipez.cz","opendataUrl":"https://www.hlidacstatu.cz/api/v2/Weby/10107","pageUrl":"https://www.hlidacstatu.cz/StatniWeby/Info/10107?h=6306B57A524363D494F83CED45FFF372","urad":"Ministerstvo
        pro místní rozvoj","publicname":"Národní Elektronický Nástroj","popis":"Elektronický
        nástroj pro administraci a zadávání veřejných zakázek a koncesí pro všechny
        kategorie veřejných zakázek a všechny kategorie zadavatelů, vč. sektorových.
        NEN podporuje všechny rozsahy elektronizace od evidence zadávacích řízení
        po plně elektronické postupy.","hash":"6306B57A524363D494F83CED45FFF372"},{"hostid":"10161","host":"HTTPS
        adisepo.mfcr.cz","url":"https://adisepo.mfcr.cz/","opendataUrl":"https://www.hlidacstatu.cz/api/v2/Weby/10161","pageUrl":"https://www.hlidacstatu.cz/StatniWeby/Info/10161?h=8380EF85E36393EF3F94F8178509C5D7","urad":"Ministerstvo
        financí","publicname":"Elektronická podání pro FS","popis":"Elektronická Podání
        Pro Finanční Správu","hash":"8380EF85E36393EF3F94F8178509C5D7"},{"hostid":"10174","host":"wwwinfo.mf[...]
