http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/osoby/andrej-babis
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"titulPred":"Ing.","jmeno":"Andrej","prijmeni":"Babiš","titulPo":null,"narozeni":"1954-09-02T00:00:00","nameId":"andrej-babis","profile":"/osoba/andrej-babis","sponzoring":[{"typ":"sponzor","organizace":"ANO","role":null,"castka":50000.000000000,"datumOd":"2015-01-01T00:00:00","datumDo":"2015-01-01T00:00:00"},{"typ":"sponzor","organizace":"ANO","role":null,"castka":50000.000000000,"datumOd":"2014-01-01T00:00:00","datumDo":"2014-01-01T00:00:00"},{"typ":"sponzor","organizace":"ANO","role":null,"castka":50000.000000000,"datumOd":"2016-01-01T00:00:00","datumDo":"2016-01-01T00:00:00"},{"typ":"sponzor","organizace":"ANO","role":null,"castka":8000000.000000000,"datumOd":"2012-01-01T00:00:00","datumDo":"2012-01-01T00:00:00"},{"typ":"sponzor","organizace":"ANO","role":null,"castka":2500[...]
