http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/osoby/andrej-babis
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"TitulPred":"Ing.","Jmeno":"Andrej","Prijmeni":"Babiš","Narozeni":"1954-09-02T00:00:00","NameId":"andrej-babis","Profile":"/osoba/andrej-babis","Sponzoring":[{"Typ":"sponzor","Organizace":"ANO","Castka":50000.000000000,"DatumOd":"2015-01-01T00:00:00","DatumDo":"2015-01-01T00:00:00"},{"Typ":"sponzor","Organizace":"ANO","Castka":50000.000000000,"DatumOd":"2014-01-01T00:00:00","DatumDo":"2014-01-01T00:00:00"},{"Typ":"sponzor","Organizace":"ANO","Castka":50000.000000000,"DatumOd":"2016-01-01T00:00:00","DatumDo":"2016-01-01T00:00:00"},{"Typ":"sponzor","Organizace":"ANO","Castka":5082.000000000,"DatumOd":"2017-01-01T00:00:00","DatumDo":"2017-01-01T00:00:00"},{"Typ":"sponzor","Organizace":"ANO","Castka":50000.000000000,"DatumOd":"2017-01-01T00:00:00","DatumD[...]
