http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/smlouvy/3583464
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"identifikator":{"idSmlouvy":"3322596","idVerze":"3583464"},"calculatedPriceWithVATinCZK":296450.0,"calcutatedPriceQuality":1,"casZverejneni":"2017-10-30T08:35:51+01:00","cisloSmlouvy":"
        /MMH/93458/2017","ciziMena":null,"classification":null,"confidenceValue":0.0,"datumUzavreni":"2017-10-25T00:00:00","enhancements":[{"created":"2017-10-30T09:12:42.7476133+01:00","title":"Text
        přílohy extrahován přímo z dokumentu","description":"","changed":{"parameterName":"item.Prilohy[0].PlainTextContent","previousValue":"","newValue":""},"public":true,"enhancerType":"HlidacSmluv.Plugin.Enhancers.TextMiner"}],"hodnotaBezDph":245000.0,"hodnotaVcetneDph":296450.0,"id":"3583464","issues":[],"lastUpdate":"2020-04-01T23:29:25.3498917+02:00","navazanyZaznam":null,"odkaz":"https://smlouvy.gov.cz/smlouva/3583464","platce":{"adresa":"Svornosti
        86/2, 73601 Havířov, CZ","datovaSchranka":"7zhb6tn","ico":"00297488","nazev":"Statutární
        město Havířov","utvar":null},"platnyZaznam":true,"pravniRamec":2,"predmet":"836/OSRM/2017
        smlouva o dílo - adventure golf","prijemce":[{"adresa":"Hřbitovní 651/8\n
        735 42  Těrlicko","datovaSchranka":"9gg5ymn","ico":"27858782","nazev":"ŠNAPKA
        SLUŽBY s.r.o.","utvar":null}],"prilohy":[{"fileMetadata":null,"data":null,"nazevSouboru":"Smlouva
        PD-adventure golf.pdf","hash":{"algoritmus":"sha256","value":"8791e62a1af70d7e80b8c205e6c7ddfee3461086a39ba5956f9671df07c663b7"},"odkaz":"https://smlouvy.gov.cz/smlouva/soubor/4983496/Smlouva%20PD-adventure%20golf.pdf","plainTextContent":null,"plainTextContentQuality":3,"lastUpdate":"2017-10-30T09:11:30.9528211+01:00","localCopy":null,"contentType":"application/pdf","lenght":45885,"wordCount":5478,"uniqueWordsCount":1619,"wordsVariance":0.004182263108919729650621181,"pages":0,"enoughExtractedText":true}],"schvalil":"","souvisejiciSmlouvy":null,"spadaPodRS":true,"sVazbouNaPolitiky":null,"sVazbouNaPolitikyAktualni":null,"sVazbouNaPolitikyNedavne":null,"hint":{"updated":"2021-06-29T19:40:06.9045954+02:00","smlouvaULimitu":0,"denUzavreni":0,"smlouvaSPolitickyAngazovanymSubjektem":0,"pocetDniOdZalozeniFirmy":3325,"vztahSeSoukromymSubjektem":1,"skrytaCena":0},"vkladatelDoRejstriku":{"adresa":"Svornosti
        86/2, 73601 Havířov, CZ","datovaSchranka":"7zhb6tn","ico":"00297488","nazev":"Statutární
        město Havířov","utvar":null}}'
  recorded_at: 2021-08-23 12:32:05 GMT
  recorded_with: vcr/1.0.0, webmockr/0.8.0
