http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/dotace/hledat?dotaz=golf&strana=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"Total":876,"Page":1,"Results":[{"IdDotace":"dotinfo-2ebb2071-8444-40be-8560-91af6e7fefa0","DatumPodpisu":"2019-11-19T00:00:00Z","KodProjektu":"CZ.03.1.52/0.0/0.0/19_097/0013009","NazevProjektu":"GOLF
        CLUB U Hrádečku - podnikové vzdělávání zaměstnanců","Zdroj":{"Nazev":"dotinfo","Url":"https://www.dotinfo.cz/dotace/2ebb2071-8444-40be-8560-91af6e7fefa0"},"Prijemce":{"Ico":"25941364","ObchodniJmeno":"GOLF
        CLUB U Hrádečku s.r.o.","Obec":"Mladé Buky","Okres":"","PSC":"54223"},"Program":{"Nazev":"GOLF","Kod":"CLUB
        U Hrádečku - podnikové vzdělávání zaměstnanců"},"DotaceCelkem":0.0,"PujckaCelkem":0.0,"Rozhodnuti":[{"CastkaPozadovana":522912.0,"CastkaRozhodnuta":522912.0,"JePujcka":false,"IcoPoskytovatele":"00551023","Poskytovatel":"Ministerstvo
        práce a sociálních věcí","Cerpani":[]}],"Duplicita":"eufondy-14-20-737084126","Chyba":[]},{"IdDotace":"deminimis-1000229862","DatumPodpisu":"2014-08-20T00:00:00","DatumAktualizace":"2016-05-05T00:00:00","NazevProjektu":"Mezinárodní
        golfový turnaj v extrémním golfu","Zdroj":{"Nazev":"deminimis"},"Prijemce":{"Ico":"26012219","ObchodniJmeno":"ERIBOS
        s. r. o."},"DotaceCelkem":5000.0,"PujckaCelkem":0.0,"Rozhodnuti":[{"CastkaRozhodnuta":5000.0,"CerpanoCelkem":5000.0,"JePujcka":false,"Poskytovatel":"Statutární
        město Pardubice","Rok":2014,"Cerpani":[{"CastkaSpotrebovana":5000.0,"Rok":2014,"GuessedYear":2014}]}]},{"IdDotace":"eufondy-04-06-cz-04-1-05-4-1-44-2-2970","DatumPodpisu":"2006-01-01T00:00:00","KodProjektu":"CZ.04.1.05/4.1.44.2/2970","NazevProjektu":"Golf
        pro všechny","Zdroj":{"Nazev":"eufondy 2004-2006","Url":"https://www.dotaceeu.cz/cs/evropske-fondy-v-cr/programove-obdobi-2004-2006-(1)/vysledky-cerpani"},"Prijemce":{},"Program":{"Nazev":"Společný
        regionální operační program","Kod":"CZ.04.1.05"},"DotaceCelkem":360555.02,"PujckaCelkem":0.0,"Rozhodnuti":[{"CastkaRozhodnu[...]
