http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/osoby/hledat?jmeno=Miroslav&prijmeni=Kalousek&datumNarozeni=1960-12-17&ignoreDiakritiku=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"titulPred":"Ing.","jmeno":"Miroslav","prijmeni":"Kalousek","titulPo":null,"narozeni":"1960-12-17T00:00:00","nameId":"miroslav-kalousek","profile":"/osoba/miroslav-kalousek"}]'
  recorded_at: 2021-08-23 12:34:17 GMT
  recorded_with: vcr/1.0.0, webmockr/0.8.0
