http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/osoby/hledatFtx?ftxDotaz=Kalousek
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"titulPred":"","jmeno":"Martin","prijmeni":"Kalousek","titulPo":"","narozeni":"1966-09-23T00:00:00","nameId":"martin-kalousek-1","profile":"/osoba/martin-kalousek-1"},{"titulPred":null,"jmeno":"Josef","prijmeni":"Kalousek","titulPo":null,"narozeni":"1959-06-05T00:00:00","nameId":"josef-kalousek-1","profile":"/osoba/josef-kalousek-1"},{"titulPred":"","jmeno":"Josef","prijmeni":"Kalousek","titulPo":"","narozeni":"1949-01-08T00:00:00","nameId":"josef-kalousek","profile":"/osoba/josef-kalousek"},{"titulPred":null,"jmeno":"Petr","prijmeni":"Kalousek","titulPo":null,"narozeni":"1980-04-12T00:00:00","nameId":"petr-kalousek-6","profile":"/[...]
