http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/osoby/hledat?dotaz=Kalousek&strana=TOP%2009
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"Jmeno":"Josef","Prijmeni":"Kalousek","Narozeni":"1959-06-05T00:00:00","NameId":"josef-kalousek-1","Profile":"/osoba/josef-kalousek-1"},{"TitulPred":"","Jmeno":"Martin","Prijmeni":"Kalousek","TitulPo":"","Narozeni":"1966-09-23T00:00:00","NameId":"martin-kalousek-1","Profile":"/osoba/martin-kalousek-1"},{"TitulPred":"","Jmeno":"Josef","Prijmeni":"Kalousek","TitulPo":"","Narozeni":"1949-01-08T00:00:00","NameId":"josef-kalousek","Profile":"/osoba/josef-kalousek"},{"Jmeno":"Libor","Prijmeni":"Kalousek","Narozeni":"1971-05-17T00:00:00","NameId":"libor-kalousek-1","Profile":"/osoba/libor-kalousek-1"},{"Jmeno":"Petr","Prijmeni":"Kalousek","Narozeni":"1980-04-12T00:00:00","NameId":"petr-kalousek-6","[...]
