http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/smlouvy/hledat?dotaz=golf&strana=1&razeni=0
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"Total":3123,"Page":1,"Results":[{"identifikator":{"idSmlouvy":"3322596","idVerze":"3583464"},"CalculatedPriceWithVATinCZK":296450.0,"CalcutatedPriceQuality":1,"casZverejneni":"2017-10-30T08:35:51+01:00","cisloSmlouvy":"
        /MMH/93458/2017","ConfidenceValue":0.0,"datumUzavreni":"2017-10-25T00:00:00","Enhancements":[{"Created":"2017-10-30T09:12:42.7476133+01:00","Title":"Text
        přílohy extrahován přímo z dokumentu","Description":"","Changed":{"ParameterName":"item.Prilohy[0].PlainTextContent","PreviousValue":"","NewValue":""},"Public":true,"EnhancerType":"HlidacSmluv.Plugin.Enhancers.TextMiner"}],"hodnotaBezDph":245000.0,"hodnotaVcetneDph":296450.0,"Id":"3583464","Issues":[],"LastUpdate":"2020-04-01T23:29:25.3498917+02:00","odkaz":"https://smlouvy.gov.cz/smlouva/3583464","Platce":{"adresa":"Svornosti
        86/2, 73601 Havířov, CZ","datovaSchranka":"7zhb6tn","ico":"00297488","nazev":"Statutární
        město Havířov"},"platnyZaznam":true,"PravniRamec":2,"predmet":"836/OSRM/2017
        smlouva o dílo - adventure golf","Prijemce":[{"adresa":"Hřbitovní 651/8\n
        735 42  Těrlicko","datovaSchranka":"9gg5ymn","ico":"27858782","nazev":"ŠNAPKA
        SLUŽBY s.r.o."}],"schvalil":"","spadaPodRS":true,"Hint":{"SmlouvaULimitu":0,"DenUzavreni":0,"SmlouvaSPolitickyAngazovanymSubjektem":0,"PocetDniOdZalozeniFirmy":3325,"VztahSeSoukromymSubjektem":1},"VkladatelDoRejstriku":{"adresa":"Svornosti
        86/2, 73601 Havířov, CZ","datovaSchranka":"7zhb6tn","ico":"00297488","nazev":"Statutární
        město Havířov"}},{"identifikator":{"idSmlouvy":"1086905","idVerze":"1157189"},"CalculatedPriceWithVATinCZK":84700.0,"CalcutatedPriceQuality":2,"casZverejneni":"2017-02-01T12:01:41+01:00","ConfidenceValue":0.0,"datumUzavreni":"2016-12-15T00:00:00","Enhancements":[{"Created":"2017-02-02T01:02:08.7981069+01:00","Title":"Text
        přílohy extrahován přímo z dokumentu","Des[...]
