http_interactions:
- request:
    method: get
    uri: https://www.hlidacstatu.cz/api/v2/dotace/hledat?dotaz=golf&strana=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"total":995,"page":1,"results":[{"idDotace":"dotinfo-2ebb2071-8444-40be-8560-91af6e7fefa0","datumPodpisu":"2019-11-19T00:00:00Z","datumAktualizace":null,"kodProjektu":"CZ.03.1.52/0.0/0.0/19_097/0013009","nazevProjektu":"GOLF
        CLUB U Hrádečku - podnikové vzdělávání zaměstnanců","zdroj":{"nazev":"dotinfo","url":"https://www.dotinfo.cz/dotace/2ebb2071-8444-40be-8560-91af6e7fefa0"},"prijemce":{"ico":"25941364","obchodniJmeno":"GOLF
        CLUB U Hrádečku s.r.o.","hlidacJmeno":"GOLF CLUB U Hrádečku s.r.o.","jmeno":null,"rokNarozeni":null,"obec":"Mladé
        Buky","okres":"","psc":"54223"},"program":{"id":null,"nazev":"GOLF","kod":"CLUB
        U Hrádečku - podnikové vzdělávání zaměstnanců","url":null},"dotaceCelkem":0.0,"pujckaCelkem":0.0,"rozhodnuti":[{"castkaPozadovana":522912.0,"castkaRozhodnuta":522912.0,"cerpanoCelkem":null,"jePujcka":false,"icoPoskytovatele":"00551023","poskytovatel":"Ministerstvo
        práce a sociálních věcí","rok":null,"zdrojFinanci":null,"cerpani":[]}],"duplicita":"cedr-EFDE07162A212E6B07E901F38F0F9B903A0AE1F6","chyba":[]},{"idDotace":"deminimis-1000229862","datumPodpisu":"2014-08-20T00:00:00Z","datumAktualizace":"2016-05-05T00:00:00Z","kodProjektu":null,"nazevProjektu":"Mezinárodní
        golfový turnaj v extrémním golfu","zdroj":{"nazev":"deminimis","url":"https://www.hlidacstatu.cz/data/Detail/de-minimis/1000229862"},"prijemce":{"ico":"26012219","obchodniJmeno":"ERIBOS
        s. r. o.","hlidacJmeno":"ERIBOS s. r. o.","jmeno":null,"rokNarozeni":null,"obec":null,"okres":null,"psc":null},"program":null,"dotaceCelkem":5000.0,"pujckaCelkem":0.0,"rozhodnuti":[{"castkaPozadovana":null,"castkaRozhodnuta":5000.0,"cerpanoCelkem":5000.0,"jePujcka":false,"icoPoskytovatele":null,"poskytovatel":"Statutární
        město Pardubice","rok":2014,"zdrojFinanci":null,"cerpani":[{"castkaSpotrebovana":5000.0,"rok":2014,"guessedYear":2014}]}],"duplicita":null,"chyba":[]},{"idDotace":"deminimis-1000411828","datumPodpisu":"2018-06-25T00:00:00Z","datumAktualizace":"2019-11-15T00:00:00Z","kodProjektu":null,"nazevProjektu":"Golf
        pro všechny","zdroj":{"nazev":"deminimis","url":"https://www.hlidacstatu.cz/data/Detail/de-minimis/1000411828"},"prijemce":{"ico":"26907089","obchodniJmeno":"GOLF
        BRNO a.s.","hlidacJmeno":"GOLF BRNO a.s.","jmeno":null,"rokNarozeni":null,"obec":null,"okres":null,"psc":null},"program":null,"[...]
